default:
  timeout: 1 hours # Timeout predefinito per tutti i job

stages:
  - build-check
  - Build-Windows
  - Build-Linux

# Lint the code
lint:
  stage: build-check
  image: electronuserland/builder:wine
  timeout: 4 hours
  script:
    # Proceed with lint
    - yarn install
    - yarn typecheck
  only:
    - develop
  tags:
    - docker

build-windows:
  stage: Build-Windows
  image: electronuserland/builder:wine
  timeout: 4 hours # Timeout specifico per questo job
  script:
    # Install Mono (required for .NET dependencies)
    - apt-get update && apt-get install -y mono-complete

    # Install Wine GUI dependencies
    - apt-get install -y winbind xvfb

    # Install Wine Mono
    - wget https://dl.winehq.org/wine/wine-mono/9.0.0/wine-mono-9.0.0-x86.msi -O /tmp/wine-mono.msi
    - wine msiexec /i /tmp/wine-mono.msi /quiet /norestart

    # Install WiX Toolset v3.11.2
    - wget https://github.com/wixtoolset/wix3/releases/download/wix3112rtm/wix311-binaries.zip -O /tmp/wix.zip
    - mkdir -p /opt/wix
    - unzip /tmp/wix.zip -d /opt/wix
    - export PATH="$PATH:/opt/wix"

    # Ensure Wine is configured properly
    - winecfg

    # Use Xvfb to handle GUI dependencies in Wine
    - Xvfb :0 -screen 0 1024x768x24 &
    - export DISPLAY=:0

    # Proceed with Windows build
    - yarn install
    - yarn dist-win
  artifacts:
    name: 'windows-builds-${CI_COMMIT_REF_NAME}'
    expire_in: 2 weeks
    paths:
      - dist/*.exe
    when: on_success
  only:
    - pre
  tags:
    - docker

build-ubuntu-linux:
  stage: Build-Linux
  image: electronuserland/builder
  timeout: 3 hours # Timeout specifico per questo job
  script:
    # Proceed with Linux build
    - apt-get update && apt-get install -y rpm
    - yarn install
    - yarn dist-linux
    - echo "Checking dist folder..."
    - ls -lh dist || echo "dist not found"
    #- find dist -type f
  artifacts:
    name: 'ubuntu-linux-builds-${CI_COMMIT_REF_NAME}'
    expire_in: 2 weeks
    paths:
      - dist/*.AppImage
      - dist/*.deb
    when: on_success
  only:
    - pre
  tags:
    - docker

build-redhat-linux:
  stage: Build-Linux
  image: electronuserland/builder
  timeout: 3 hours # Timeout specifico per questo job
  script:
    # Proceed with Linux build
    - apt-get update && apt-get install -y rpm
    - yarn install
    - yarn dist-linux
    - echo "Checking dist folder..."
    - ls -lh dist || echo "dist not found"
    #- find dist -type f
  artifacts:
    name: 'redhat-linux-builds-${CI_COMMIT_REF_NAME}'
    expire_in: 2 weeks
    paths:
      - dist/*.rpm
    when: on_success
  only:
    - pre
  tags:
    - docker
