# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.cache
out
dist
dist-ssr
dist-react
dist-electron
certificates
*.local
.env
*.pfx
*.p12

# Editor directories and files
.yarn/*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.stl
*.tml

# TypeScript cache
*.tsbuildinfo

package-lock.json
yarn.lock

#Print preview
out/
TinyTex/*
jre/*
fonts/*
latex/*

preview/*
# buildResources/printPreview/preview/*
.cursor/*

# Cursor files 
.cursor/*
src/renderer/.cursor/*
.prompts